@import '../styles/typography';
@import '../styles/tables';

$icon-size: 24px; 
$medium-blue: #3c52ff;
$light-green: #d0ffd0;
$dark-green: #009b29;

body {
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 2.5rem;
    line-height: 2.5rem;
    background: $medium-blue;
    display: flex;
    align-items: center;
      a.nav {
        @include title-text;
        color: white;
        display: block;
        height: 100%;
        padding: 1rem;
        &.selected {
          background: $light-green;
          color: $medium-blue;
        }
      }
  }

  main {
    padding: 2rem;
    .ant-table-thead > tr > th {
      color: $dark-green;
    }
  }
}


.flower-icon {
  height: $icon-size;
}


.loading {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}