@import '../styles/typography';
@import '../styles/tables';

$icon-size: 24px; 
$dark-blue: #023062;
$light-green: #d0ffd0;

body {
  padding: 1rem;

  header {
    padding: 0 2.5rem;
    line-height: 2.5rem;
    background: darkblue;
    display: flex;
    align-items: center;
      a.nav {
        @include title-text;
        color: white;
        display: block;
        height: 100%;
        padding: 1rem;
        &.selected {
          background: $light-green;
          color: $dark-blue;
        }
      }
  }

  main {
    padding: 2rem;
  }
}


.flower-icon {
  height: $icon-size;
}


.loading {
  font-size: 2em;
  padding: 2em;
  text-align: center;
}