/*typography*/
@mixin extra-large {
  font-weight: heavy;
  font-size: 2em;
}

@mixin section-heading {
  font-weight: bold;
  font-size: 1.5em;
}

@mixin title-text {
  font-size: 1.17rem;
  font-weight: 500;
}

@mixin mini-headings {
  font-weight: light;
  text-align: left;
  font-size: .75em;
  text-transform: uppercase;
}

h1 {
  @include extra-large;
}

h2 {
  @include section-heading
}

h3 {
  @include title-text;
}